<template>
  <div v-show="active" class="blockerModal">
    <self-building-square-spinner :animation-duration="6000" :size="40" color="#e24d4d" />
  </div>
</template>

 
<script> 
import { SelfBuildingSquareSpinner } from 'epic-spinners'; 
 
export default { 
  props: ['active'], 
  components: { 
    SelfBuildingSquareSpinner, 
  } 
} 
</script> 
 
 
<style scoped> 
.blockerModal { 
  position: fixed; 
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(255, 255, 255, 0.6); 
  z-index: 9999999999999999; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 
</style>