<template>
  <button
    :class="isActive ? 'eyeButton--shown' : ''"
    class="eyeButton"
  >
    <font-awesome-icon
      :icon="isActive ? 'eye' : 'eye-slash'"
      class="eyeButton__icon"
    />
  </button>
</template>

<script>
export default {
  props: ["isActive"]
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.eyeButton {
  border: 0;
  padding: 0.8rem 0.8rem;
  border-radius: 3px;
  // border-radius: 50%;
  background-color: $color-white-1;
  box-shadow: 0 0 1rem $color-gray-2;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;

  &:hover {
    background-color: darken($color-white-1, 5);
  }

  &--shown {
    box-shadow: inset 0 2px 1rem $color-gray-2;
    background-color: darken($color-white-1, 8);
  }
}
</style>
