<template>
  <div v-show="active" class="ImageViewer">
    <div class="ImageViewer__closeButton" @click="onClose">
      <font-awesome-icon class="ImageViewer__closeButtonIcon" icon='times' size="xs" />
    </div>
    <div @click="onPreviousClicked" class="ImageViewer__leftButton ImageViewer__navButton">
      <font-awesome-icon class="ImageViewer__leftButtonIcon" icon='chevron-left' size="2x" />
    </div>
    <canvas ref="canvas" class="ImageViewer__img" ></canvas>
    <div @click="onNextClicked" class="ImageViewer__rightButton ImageViewer__navButton">
      <font-awesome-icon class="ImageViewer__rightButtonIcon" icon='chevron-right' size="2x" />
    </div>
  </div>
</template>

<script>
import { eventBus } from "../eventBus";

export default {
  props: ["active", "imageUrl"],
  data() {
    return {
      ctx: null,
      canvas: null,
      canvasWidth: 0,
      canvasHeight: 0,
      canvasCenterX: 0,
      canvasCenterY: 0,
      canvasPos: {
        deltaX: 0,
        deltaY: 0
      },
      initialImageWidth: 900,
      newImageHeight: 0,
      imageHeight: 0,
      imageWidth: 0,
      imageXPos: 0,
      imageYPos: 0,
      img: new Image(),
      dragging: false,
      mouseX: 0,
      mouseY: 0,
    };
  },
  watch: {
    imageUrl(newUrl) {
      this.ctx.clearRect(0, 0, this.canvasWidth, this.canvasHeight);
      this.img.src = newUrl;
    }
  },
  mounted() {
    this.canvas = this.$refs.canvas;
    this.ctx = this.canvas.getContext("2d");
    this.img.onload = this.onImageLoad;

    this.canvasWidth = this.canvas.width;
    this.canvasHeight = this.canvas.height;

    this.canvasCenterX = this.canvasWidth / 2;
    this.canvasCenterY = this.canvasHeight / 2;

    this.canvas.addEventListener('mousedown', this.mouseDown, false);
    this.canvas.addEventListener('mousemove', this.mouseMove, false);
    this.canvas.addEventListener('mouseup', this.mouseUp, false);
    this.canvas.addEventListener('mousewheel', this.mouseWheel, false);
    this.canvas.addEventListener('DOMMouseScroll', this.mouseWheel, false);
  },
  methods: {
    onClose() {
      eventBus.$emit("SHOWHIDEIMAGEVIEWER", [false, ""]);
    },
    onKeyUp(e) {
      if (e.key === "Escape")
        this.onClose();
    },
    onPreviousClicked() {
      eventBus.$emit("PREVIOUS_IMAGE");
    },
    onNextClicked() {
      eventBus.$emit("NEXT_IMAGE");
    },
    onImageLoad() {
      console.log("onImageLoad");
      console.dir(this.img);

      this.imageHeight = this.img.height;
      this.imageWidth = this.img.width;
      const newImageHeight = this.imageHeight / this.imageWidth * this.initialImageWidth; // done

      this.calculateCenter();

      this.canvasPos.deltaX = this.imageXPos;
      this.canvasPos.deltaY = this.imageYPos;

      this.ctx.drawImage(this.img, 0, 0, this.initialImageWidth, this.newImageHeight);
      this.ctx.fillStyle = "#bada55";
      this.ctx.fillRect(50, 50, 50, 50);
    },
    calculateCenter() {
      // center of the image currently
		  const imageCenterX = this.initialImageWidth / 2;
      const imageCenterY = this.newImageHeight / 2;

      // subtract the cavas size by the image center, that's how far we need to move it.
      this.imageXPos = this.canvasCenterX - imageCenterX;
      this.imageYPos = this.canvasCenterY - imageCenterY;
    },
    mouseDown(e) {
      const r = this.canvas.getBoundingClientRect();
      this.mouseX = e.clientX - r.left - this.canvasPos.deltaX;
      this.mouseY = e.clientY - r.left - this.canvasPos.deltaY;

      console.log("User clicked at: " + this.mouseX + ", " + this.mouseY);
      this.dragging = true;
    },
    mouseMove(e) {
      if (this.dragging) {
        // get the current mouse position (updates every time the mouse is moved durring dragging)
        const r = this.canvas.getBoundingClientRect();
        const x = e.clientX - r.left;
        const y = e.clientY - r.top;

        // calculate how far we moved
        this.canvasPos.deltaX = (x - this.mouseX); // total distance in x
        this.canvasPos.deltaY = (y - this.mouseY); // total distance in y

        // we need to clear the canvas, otherwise we'll have a bunch of overlapping images
        this.ctx.clearRect(0, 0, this.canvasWidth, this.canvasHeight);

        // these will be our new x,y position to move the image.
        this.ctx.drawImage(
          this.img,
          this.canvasPos.deltaX,
          this.canvasPos.deltaY,
          this.initialImageWidth,
          this.newImageHeight
        );

        console.log('User is dragging to: ' + x + ", " + y);
      }
    },
    mouseUp(e) {
      console.log('User let go and moved a total of: ' + this.canvasPos.deltaX + ", " + this.canvasPos.deltaY);
      this.dragging = false;
    },
    mouseWheel(e) {
      let delta = 0;
      const r = this.canvas.getBoundingClientRect();

      if (e.wheelDelta) {
          delta = e.wheelDelta / 120;
      } else if (e.detail) {
          delta = -e.detail / 3;
      }

      const canvasZoomX = (e.clientX - r.left);
      const canvasZoomY = (e.clientY - r.top);

      let zoomedX, zoomedY;

      if (delta > 0) {
          // ZOOMING IN
          zoomedX = this.canvasPos.deltaX - (canvasZoomX - this.canvasPos.deltaX);
          zoomedY = this.canvasPos.deltaY - (canvasZoomY - this.canvasPos.deltaY);

          // scale the image up by 2
          this.initialImageWidth = this.initialImageWidth * 2;
      } else {
          // ZOOMING OUT
          zoomedX = (this.canvasPos.deltaX + canvasZoomX) / 2;
          zoomedY = (this.canvasPos.deltaY + canvasZoomY) / 2;

          // scale the image down by 2
          this.initialImageWidth = this.initialImageWidth / 2;

      }

      this.newImageHeight = this.imageHeight / this.imageWidth * this.initialImageWidth;

      // we need to clear the canvas, otherwise we'll have a bunch of overlapping images
      this.ctx.clearRect(0, 0, this.canvasWidth, this.canvasHeight);

      // these will be our new x,y position to move the image.
      this.ctx.drawImage(
        this.img,
        zoomedX,
        zoomedY,
        this.initialImageWidth,
        this.newImageHeight
      );

      // update the new canvas position
      this.canvasPos.deltaX = zoomedX;
      this.canvasPos.deltaY = zoomedY;
    }
  },
}
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.ImageViewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000000000000000000;
  padding: 1rem;
  width: 90rem;
  height: 60rem;
  // min-width: 640px;
  // min-height: 360px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);

  &__closeButton {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);

    &Icon {
      color: red;
      font-size: 1.3rem;
    }

    &:hover {
      background-color: white;
    }
    &:hover &Icon {
      color: rgb(255, 131, 131);
    }
  }

  &__img {
    display: block;
    width:640px;
    height:360px;
  width: 90rem;
  height: 60rem;
    user-select: none;
  }

  &__leftButtonIcon,
  &__rightButtonIcon {
    color: rgb(150, 150, 150);
    margin: 0 1.5rem;
  }

  &__leftButtonIcon {
    margin-left: 1.2rem;
  }

  &__rightButtonIcon {
    margin-right: 1.2rem;
  }

  &__navButton {
    background-color: rgba(0, 0, 0, 0.11);
    height: 4.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 2rem rgb(153, 153, 153);
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0 .5rem 1rem rgb(153, 153, 153);
    }

    &:active {
      box-shadow: 0 3px 5px rgb(153, 153, 153);
    }
  }
}
</style>
