<template>
  <div v-show="active" class="ImageViewer">
    <div class="ImageViewer__closeButton" @click="onClose">
      <font-awesome-icon class="ImageViewer__closeButtonIcon" icon='times' size="xs" />
    </div>
    <div @click="onPreviousClicked" class="ImageViewer__leftButton ImageViewer__navButton">
      <font-awesome-icon class="ImageViewer__leftButtonIcon" icon='chevron-left' size="2x" />
    </div>
    <img @keyup="onKeyUp" class="ImageViewer__img" :src="imageUrl" alt="Please enable images">
    <div @click="onNextClicked" class="ImageViewer__rightButton ImageViewer__navButton">
      <font-awesome-icon class="ImageViewer__rightButtonIcon" icon='chevron-right' size="2x" />
    </div>
  </div>
</template>

<script>
import { eventBus } from "../eventBus";

export default {
  props: ["active", "imageUrl"],
  methods: {
    onClose() {
      eventBus.$emit("SHOWHIDEIMAGEVIEWER", [false, ""]);
    },
    onKeyUp(e) {
      if (e.key === "Escape")
        this.onClose();
    },
    onPreviousClicked() {
      eventBus.$emit("PREVIOUS_IMAGE");
    },
    onNextClicked() {
      eventBus.$emit("NEXT_IMAGE");
    },
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.ImageViewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000000000000000000;
  padding: 1rem;
  width: 50vw;
  height: 50vh;
  // min-width: 640px;
  // min-height: 360px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);

  &__closeButton {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);

    &Icon {
      color: red;
      font-size: 1.3rem;
    }

    &:hover {
      background-color: white;
    }
    &:hover &Icon {
      color: rgb(255, 131, 131);
    }
  }

  &__img {
    display: block;
    max-width:640px;
    max-height:360px;
    width: auto;
    height: auto;
    user-select: none;
  }

  &__leftButtonIcon,
  &__rightButtonIcon {
    color: rgb(150, 150, 150);
    margin: 0 1.5rem;
  }

  &__leftButtonIcon {
    margin-left: 1.2rem;
  }

  &__rightButtonIcon {
    margin-right: 1.2rem;
  }

  &__navButton {
    background-color: rgba(0, 0, 0, 0.11);
    height: 4.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 2rem rgb(153, 153, 153);
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0 .5rem 1rem rgb(153, 153, 153);
    }

    &:active {
      box-shadow: 0 3px 5px rgb(153, 153, 153);
    }
  }
}
</style>
