<template>
  <div v-show="active" class="ImageViewer">
    <div class="ImageViewer__closeButton" @click="onClose">
      <font-awesome-icon class="ImageViewer__closeButtonIcon" icon='times' size="xs" />
    </div>
    <div @click="onPreviousClicked" class="ImageViewer__leftButton ImageViewer__navButton">
      <font-awesome-icon class="ImageViewer__leftButtonIcon" icon='chevron-left' size="2x" />
    </div>
    <div id="mappp" ref="refMappp" class="ImageViewer__Map" />
    <div @click="onNextClicked" class="ImageViewer__rightButton ImageViewer__navButton">
      <font-awesome-icon class="ImageViewer__rightButtonIcon" icon='chevron-right' size="2x" />
    </div>
  </div>
</template>

<script>
import { eventBus } from "../eventBus";
import L from "leaflet";
import "../../node_modules/leaflet/dist/leaflet.css"

export default {
  props: ["active", "imageUrl"],
  data() {
    return {
      map: null,
      imageOverlay: null,
    };
  },
  watch: {
    imageUrl(newUrl) {
      if(this.map.hasLayer(this.imageOverlay)) {
        this.map.removeLayer(this.imageOverlay);
      }

      const image = new Image();
      image.src = this.imageUrl;
      image.onload = () => {
        const input = [100, 100];

        const converted = this.map.unproject(input, this.map.getMaxZoom() - 1);

        console.log({converted});
        
        const w = image.width;
        const h = image.height;

        const southWest = this.map.unproject([0, h], this.map.getMaxZoom()-1);
        const northEast = this.map.unproject([w, 0], this.map.getMaxZoom()-1);
        const bounds = new L.LatLngBounds(southWest, northEast);

        // add the image overlay, 
        // so that it covers the entire map
        this.imageOverlay = L.imageOverlay(this.imageUrl, bounds).addTo(this.map);

        // tell leaflet that the map is exactly as big as the image
        this.map.setMaxBounds(bounds);

        // const marker = L.marker([-59.0625, 82.938957]).addTo(this.map);
        const marker = L.marker([converted.lat, converted.lng]).addTo(this.map);

        console.log(marker);

        // const polygon = L.polygon([
        //   [-307.40625, 502.279938],
        //   [-309.65625, 511.910325],
        //   [-319.15625, 509.7216],
        //   [-317.34375, 502.967823],
        // ]).addTo(this.map);

        const polygon = L.polygon([
          [0, 0],
          [converted.lat, converted.lng],
          [converted.lat, converted.lng],
        ]).addTo(this.map);

        this.map.panTo(converted);
      }
    }
  },
  mounted() {
    this.map = L.map('mappp', {
      maxZoom: 4,
      minZoom: 1,
      center: [0, 0],
      zoom: 1,
      crs: L.CRS.Simple
    });

    this.map.on('click', (e) => {
      alert(`You clicked the map at ${e.latlng} which is pixel-wise ${this.map.project(e.latlng, this.map.getMaxZoom()-1)}`);
    });

    // console.log("I'm loaded");

    // const image = new Image();
    // image.src = this.imageUrl;
    // image.onload = () => {
    //   const w = image.width;
    //   const h = image.height;
    //   const w = 1920;
    //   const h = 1080;

    //   const southWest = this.map.unproject([0, h], this.map.getMaxZoom()-1);
    //   const northEast = this.map.unproject([w, 0], this.map.getMaxZoom()-1);
    //   const bounds = new L.LatLngBounds(southWest, northEast);

    //   // add the image overlay, 
    //   // so that it covers the entire map
    //   L.imageOverlay(this.imageUrl, bounds).addTo(this.map);

    //   // tell leaflet that the map is exactly as big as the image
    //   this.map.setMaxBounds(bounds);
    // }

    // this.map = L.map('map', {
    //     maxZoom: 24,
    //     minZoom: 1,
    //     crs: L.CRS.Simple
    // }).setView([0, 0], 1);

    // this.map.setMaxBounds(new L.LatLngBounds([0,500], [500,0]));

    // const imageBounds = [[250,0], [0,250]];

    // L.imageOverlay(this.imageUrl, imageBounds).addTo(this.map);
  },
  methods: {
    onClose() {
      eventBus.$emit("SHOWHIDEIMAGEVIEWER", [false, ""]);
    },
    onKeyUp(e) {
      if (e.key === "Escape")
        this.onClose();
    },
    onPreviousClicked() {
      eventBus.$emit("PREVIOUS_IMAGE");
    },
    onNextClicked() {
      eventBus.$emit("NEXT_IMAGE");
    },
  },
}
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.ImageViewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000000000000000000;
  padding: 1rem;
  width: 100rem;
  height: 60rem;
  // min-width: 640px;
  // min-height: 360px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);

  &__closeButton {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);

    &Icon {
      color: red;
      font-size: 1.3rem;
    }

    &:hover {
      background-color: white;
    }
    &:hover &Icon {
      color: rgb(255, 131, 131);
    }
  }

  &__img {
    display: block;
    width:640px;
    height:360px;
    width: 100rem;
    height: 60rem;
    user-select: none;
  }

  &__Map {
    height: 100%;
    width: 100%;;
  }

  &__leftButtonIcon,
  &__rightButtonIcon {
    color: rgb(150, 150, 150);
    margin: 0 1.5rem;
  }

  &__leftButtonIcon {
    margin-left: 1.2rem;
  }

  &__rightButtonIcon {
    margin-right: 1.2rem;
  }

  &__navButton {
    background-color: rgba(0, 0, 0, 0.11);
    height: 4.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 2rem rgb(153, 153, 153);
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0 .5rem 1rem rgb(153, 153, 153);
    }

    &:active {
      box-shadow: 0 3px 5px rgb(153, 153, 153);
    }
  }
}
</style>
