<template>
  <div v-show="active" class="ImageViewer__backdrop" @click.stop="onClose">
    <div class="ImageViewer" @click.stop>
      <div class="ImageViewer__body">
        <switches class="ImageViewer__markerToggle" text-disabled="Marker off" text-enabled="Marker on" color="blue" v-model="markerEnabled"></switches>
        <div class="ImageViewer__closeButton" @click="onClose">
          <font-awesome-icon class="ImageViewer__closeButtonIcon" icon='times' size="xs" />
        </div>
        <div @click="onPreviousClicked" class="ImageViewer__leftButton ImageViewer__navButton">
          <font-awesome-icon class="ImageViewer__leftButtonIcon" icon='chevron-left' size="2x" />
        </div>
        <div id="mappp" ref="refMappp" class="ImageViewer__Map" />
        <div @click="onNextClicked" class="ImageViewer__rightButton ImageViewer__navButton">
          <font-awesome-icon class="ImageViewer__rightButtonIcon" icon='chevron-right' size="2x" />
        </div>
      </div>
      <div class="ImageViewer__thumbs">
        <div
          class="ImageViewer__thumbHolder"
          v-for="data in imageData"
          :key="data.src"
          :class="data.src === currentImage ? 'ImageViewer__thumbHolder--active' : ''"
          @click="onImageClicked(data)"
        >
          <img
            class="ImageViewer__thumb"
            :src="data.src"
            alt="Please enable images"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import L from "leaflet";
import Switches from 'vue-switches';
import "../../node_modules/leaflet/dist/leaflet.css"
import { eventBus } from "../eventBus";

export default {
  props: ["active", "imageData", "htmlData"],
  components: {
    Switches
  },
  data() {
    return {
      dontAddNewMarker: false,
      markerEnabled: true,
      lastMarkerCoordinates: null,
      marker: null,
      map: null,
      imageOverlay: null,
      imageViewerShown: false,
      currentImage: "",
      currentLocation: "",
      sidebarHidden: false,
      firefoxIcon: L.icon({
        iconUrl: 'http://13.233.198.28:8080/marker-icon.png',
        iconSize: [25, 41], // size of the icon
      })
    };
  },
  mounted() {
    this.map = L.map('mappp', {
      zoomControl:false,
      attributionControl: false,
      maxZoom: 3,
      minZoom: 1,
      center: [0, 0],
      zoom: 2,
      crs: L.CRS.Simple
    });
  },
  watch: {
    active(newState) {
      if (newState) {
        this.currentImage = this.imageData[0].src;
        this.currentLocation = this.imageData[0].location;
        this.adjustImage();
      }
      else {
        this.currentImage = null;
        this.currentLocation = null;
      }
    },
    markerEnabled(newState) {
      if (newState && !this.marker && !this.dontAddNewMarker) {
        this.marker = L.marker(this.lastMarkerCoordinates, {icon: this.firefoxIcon}).addTo(this.map).bindPopup(this.htmlData);
      }
      else if (this.marker) {
        this.map.removeLayer(this.marker);
        this.marker = null;
      }
    }
  },
  methods: {
    onClose() {
      eventBus.$emit("HIDE_IMAGE_VIEWER");
    },
    onPreviousClicked() {
      // const index = this.imageData.indexOf({
      //   location: this.currentLocation,
      //   src: this.currentImage
      // });
      const index = this.imageData.findIndex((el) => {
        return el.src === this.currentImage;
      })
      if (index > 0) {
        this.currentImage = this.imageData[index - 1].src;
        this.currentLocation = this.imageData[index - 1].location;
        this.adjustImage();
      } else if (index === 0) {
        this.currentImage = this.imageData[this.imageData.length - 1].src;
        this.currentLocation = this.imageData[this.imageData.length - 1].location;
        this.adjustImage();
      }
    },
    onNextClicked() {
      // const index = this.imageData.indexOf({
      //   location: this.currentLocation,
      //   src: this.currentImage
      // });
      const index = this.imageData.findIndex((el) => {
        return el.src === this.currentImage;
      })
      if (index >= 0 && index < this.imageData.length - 1) {
        this.currentImage = this.imageData[index + 1].src;
        this.currentLocation = this.imageData[index + 1].location;
        this.adjustImage();
      } else if (index === this.imageData.length - 1) {
        this.currentImage = this.imageData[0].src;
        this.currentLocation = this.imageData[0].location;
        this.adjustImage();
      }
    },
    onImageClicked(data) {
      this.currentImage = data.src;
      this.currentLocation = data.location;
      this.adjustImage();
    },
    adjustImage() {
      this.lastMarkerCoordinates = null;
      this.dontAddNewMarker = true;
      this.markerEnabled = true;
      if(this.map.hasLayer(this.imageOverlay)) {
        this.map.removeLayer(this.imageOverlay);
      }

      const image = new Image();
      image.src = this.currentImage;
      image.onload = () => {
        const input = [parseInt(this.currentLocation[0]), parseInt(this.currentLocation[1])];

        
        const w = image.width;
        const h = image.height;

        const southWest = this.map.unproject([0, h], this.map.getMaxZoom()-1);
        const northEast = this.map.unproject([w, 0], this.map.getMaxZoom()-1);
        const bounds = new L.LatLngBounds(southWest, northEast);

        // add the image overlay, 
        // so that it covers the entire map
        this.imageOverlay = L.imageOverlay(this.currentImage, bounds).addTo(this.map);

        // tell leaflet that the map is exactly as big as the image
        this.map.setMaxBounds(bounds);

        const converted = this.map.unproject(input, this.map.getMaxZoom() - 1);
        if (this.marker) {
          this.map.removeLayer(this.marker);
        }
        this.marker = L.marker([converted.lat, converted.lng], {icon: this.firefoxIcon});
        this.marker.addTo(this.map).bindPopup(this.htmlData);
        this.lastMarkerCoordinates = [converted.lat, converted.lng];
        this.map.panTo(converted);
        this.dontAddNewMarker = false;
      }
    }
  },
}
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.ImageViewer {
  position: relative;
  width: 100rem;
  height: 50rem;
  border: .5rem solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__markerToggle {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 99999999999999;
    padding: 4px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 1rem rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.13);
    background-color: rgba(255, 255, 255, 0.185);
  }

  &__backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.192);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  z-index: 999999999999;
  }

  &__thumbs {
    height: 10rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 0;
  }

  &__thumbHolder {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .8rem;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      outline: 2px solid rgb(240, 74, 74);
      outline-offset: 3px;
    }
  }

  &__thumb {
    height: 100%;
  }

  &__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__closeButton {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);
    z-index: 1000;

    &Icon {
      color: red;
      font-size: 1.3rem;
    }

    &:hover {
      background-color: white;
    }
    &:hover &Icon {
      color: rgb(255, 131, 131);
    }
  }

  &__Map {
    height: 100%;
    width: 100%;;
  }

  &__leftButtonIcon,
  &__rightButtonIcon {
    color: rgb(105, 105, 105);
    margin: 0 1.5rem;
    transition: all .2s ease-in-out;
  }

  &__navButton {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: 5rem;
    width: 5.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 2rem rgb(80, 80, 80);
    transition: all .2s ease-in-out;
    z-index: 1000;
    cursor: pointer;

    &:hover {
      box-shadow: 0 .5rem 1rem rgb(80, 80, 80);
      background-color: rgba(255, 255, 255, 0.822);
    }

    &:hover > * {
      color: rgb(80, 80, 80);
    }

    &:active {
      box-shadow: 0 3px 5px rgb(80, 80, 80);
    }
  }

  &__leftButton {
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__rightButton {
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
</style>
