<template>
  <div v-show="active" class="ImageViewer">
    <div class="ImageViewer__closeButton" @click="onClose">
      <font-awesome-icon class="ImageViewer__closeButtonIcon" icon='times' size="xs" />
    </div>
    <div @click="onPreviousClicked" class="ImageViewer__leftButton ImageViewer__navButton">
      <font-awesome-icon class="ImageViewer__leftButtonIcon" icon='chevron-left' size="2x" />
    </div>
    <img ref="img" @keyup="onKeyUp" class="annotatable ImageViewer__img" :src="imageUrl" alt="Please enable images">
    <div @click="onNextClicked" class="ImageViewer__rightButton ImageViewer__navButton">
      <font-awesome-icon class="ImageViewer__rightButtonIcon" icon='chevron-right' size="2x" />
    </div>
  </div>
</template>

<script>
import "../js/annotorious/annotorious.min.js";
import { eventBus } from "../eventBus";

export default {
  props: ["active", "imageUrl"],
  methods: {
    onClose() {
      eventBus.$emit("SHOWHIDEIMAGEVIEWER", [false, ""]);
    },
    onKeyUp(e) {
      if (e.key === "Escape")
        this.onClose();
    },
    onPreviousClicked() {
      eventBus.$emit("PREVIOUS_IMAGE");
    },
    onNextClicked() {
      eventBus.$emit("NEXT_IMAGE");
    },
  },
  watch: {
    imageUrl(newUrl) {
      console.log(anno.getAnnotations());
      anno.removeAll();
      anno.makeAnnotatable(this.$refs.img);
      setTimeout(() => {
        anno.addAnnotation({
          /** The URL of the image where the annotation should go **/
          src : newUrl,

          /** The annotation text **/
          text : 'My annotation',

          /** 'units' only required for pixel coordinates **/
          units: 'pixel',

          /** The annotation shape **/
          shapes : [{
              /** The shape type **/
              type : 'rect',

              /** The shape geometry (relative coordinates) **/
              geometry : { x : 500, y: 500, width : 100, height: 100 }
          }],

          editable: false
        });
      }, 100);
      
    }
  },
  mounted() {
    var options =
      { maxExtent: new OpenLayers.Bounds(0, 0, 1475, 1184),
        maxResolution: 8,
        numZoomLevels: 4,
        units: 'pixels' };

    var map = new OpenLayers.Map('map', options);
    var baseLayer = new OpenLayers.Layer.TMS("Baselayer", "map_muenster/",
      { layername: ".",
        serviceVersion: ".",
        transitionEffect: "resize",
        type:"jpg" });

    map.addLayer(baseLayer);
    map.zoomToMaxExtent();
    anno.makeAnnotatable(map);
    setTimeout(() => anno.activateSelector(), 100);
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.ImageViewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 50vw;
  height: 50vh;
  // min-width: 640px;
  // min-height: 360px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);

  &__closeButton {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.76);

    &Icon {
      color: red;
      font-size: 1.3rem;
    }

    &:hover {
      background-color: white;
    }
    &:hover &Icon {
      color: rgb(255, 131, 131);
    }
  }

  &__img {
    max-width:640px;
    max-height:360px;
    height: 100%;
  }

  &__leftButtonIcon,
  &__rightButtonIcon {
    color: rgb(150, 150, 150);
    margin: 0 1.5rem;
  }

  &__leftButtonIcon {
    margin-left: 1.2rem;
  }

  &__rightButtonIcon {
    margin-right: 1.2rem;
  }

  &__navButton {
    background-color: rgba(0, 0, 0, 0.11);
    height: 4.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 2rem rgb(153, 153, 153);
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 0 .5rem 1rem rgb(153, 153, 153);
    }

    &:active {
      box-shadow: 0 3px 5px rgb(153, 153, 153);
    }
  }
}
</style>
