<template>
  <div class="MainSidebarRastersTab">
    <main-sidebar-rasters-group
      v-for="(value, key)  in mapData"
      :key="key"
      :payload="value"
      :groupName="key"
    />
  </div>
</template>

<script>
import MainSidebarRastersGroup from "./MainSidebarRastersGroup";

export default {
  components: {
    MainSidebarRastersGroup
  },
  data() {
    return {};
  },
  computed: {
    mapData() {
      return this.$store.getters.mapData;
    }
  }
};
</script>

<style lang="scss" scoped>
.MainSidebarRastersTab {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 4.5rem);
}
</style>
