<template>
  <div class="MainSidebarRastersTabItem" :class="payload.properties.visible ? 'MainSidebarRastersTabItem--visible' : ''">
    <eye-button
      :is-active="payload.properties.visible"
      title="Ctrl + Click to show/hide this layer without flying to it"
      @click.native="onEyeClicked"
    />
    <div class="MainSidebarRastersTabItem__info" @click="onTypeButtonClicked">
      <div
        :title="'Fly to ' + payload.projectName"
        class="MainSidebarRastersTabItem__rasterName"
        @click="flyToRaster"
      >
        {{ payload.projectName }}
        <div
          v-if="payload.report"
          class="MainSidebarRastersTabItem__reportButton"
          title="View report"
          @click.stop="viewReportClicked"
        >
          <font-awesome-icon
            class="SettingsMenu__itemIcon"
            icon="file-pdf"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IOEngine from "../mixins/IOEngine";
import eyeButton from "./EyeButton.vue";
import { eventBus } from "../eventBus";

export default {
  components: {
    eyeButton
  },
  props: ["payload"],
  mixins: [IOEngine],
  data() {
    return {
      typeButtonActive: false,
    };
  },
  mounted() {
    eventBus.$emit("RASTER_ITEM_ADDED", this.payload);
  },
  methods: {
    viewReportClicked() {
      eventBus.$emit("VIEW_REPORT", this.payload.report);
    },
    onEyeClicked(e) {
      this.payload.properties.visible = !this.payload.properties.visible;
      if (this.payload.properties.visible) {
        eventBus.$emit("SHOWHIDEBLOCKERMODAL", true);
      }
      eventBus.$emit("TOGGLE_LAYER_FROM_RASTER_SOURCE", [
        this.payload,
        this.payload.properties.visible
      ]);
      if (!e.ctrlKey && this.payload.properties.visible) {
        this.flyToRaster();
      }
    },
    onTypeButtonClicked(e) {
      if (this.typeButtonActive) this.typeButtonActive = false;
      else if (e.ctrlKey) this.typeButtonActive = !this.typeButtonActive;
    },
    flyToRaster() {
      let url = this.payload.tiles;
      // url += "metadata.json";
      fetch(url)
        .then(res => {
          return res.json();
        })
        .then(jsonBourne => {
          console.log("JSONBOURNE", jsonBourne);
          // const boundsValues = jsonBourne.bounds.split(",");
          const boundsValues = jsonBourne.bounds;
          const boundsValuesFloat = [];

          for (let i = 0; i < boundsValues.length; i++) {
            boundsValuesFloat[i] = parseFloat(boundsValues[i]);
          }

          const center = [
            (boundsValuesFloat[0] + boundsValuesFloat[2]) / 2,
            (boundsValuesFloat[1] + boundsValuesFloat[3]) / 2
          ];

          const map = this.$store.getters.map;
          map.flyTo({
            center,
            zoom: jsonBourne["x-minzoom"],
            duration: 300,
          });
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.MainSidebarRastersTabItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.35rem;
  padding-right: 0;
  position: relative;
  background-color: $color-white-1;

  &--visible  &__info {
    color: $color-accent;
  }

  &:nth-child(even) {
    background-color: $color-white-2;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
    padding: 1.35rem;
    height: 100%;
    background-color: rgba($color-white-5, 0.2);
    color: $color-black;
    border: 0;
    width: 100%;
    transition: all 0.3s ease;
    margin-left: 1.35rem;
  }

  &__rasterName {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 5px grey;
    padding: 0.7rem 0.8rem;
    cursor: pointer;
    width: 100%;
    overflow: hidden;

    &:hover {
      box-shadow: 0 0 3px grey;
    }

    &:active {
      box-shadow: inset 0 0 1px grey;
    }
  }

  &__opacity {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    // display: none;
  }

  &__opacityIcon {
    margin-right: 0.8rem;

    &--disabled {
      color: grey;
    }
  }

  &__opacitySlider {
    min-width: 100%;
  }

  &__reportButton {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -1px 0 1.5rem $color-gray-4;
    cursor: pointer;
    color: $color-accent;
    background-color: $color-white-0;
    height: 100%;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

    &:hover {
      box-shadow: -1px 0 1rem $color-gray-4;
      color: $color-white-0;
      background-color: $color-accent;
    }
  }
}
</style>
