<template>
  <div class="MainSidebarVectorsFeatureTypeItem">
    <eye-button
      :is-active="payload.shown"
      title="Ctrl + Click to show features of this and the predecessor types"
      @click.native="onEyeClicked"
    />
    <div
      :class="isThisFeatureTypeActive ? 'MainSidebarVectorsFeatureTypeItem__typeButton--active' : ''"
      class="MainSidebarVectorsFeatureTypeItem__typeButton"
    >
      <div
        :class="isThisFeatureTypeActive ? 'pulsing' : ''"
        :style="'background-color:' + payload.color"
        class="MainSidebarVectorsFeatureTypeItem__colorCircle"
      />
      {{ payload.name }}
    </div>
    <div class="MainSidebarVectorsFeatureTypeItem__count">{{ payload.count }}</div>
  </div>
</template>

<script>
import eyeButton from "./EyeButton.vue";
import { eventBus } from "../eventBus";

export default {
  components: {
    eyeButton
  },
  props: ["payload"],
  computed: {
    isThisFeatureTypeActive() {
      const activeFeatureType = this.$store.getters.activeFeatureType;
      return (
        activeFeatureType &&
        activeFeatureType.class_name === this.payload.class_name
      );
    }
  },
  mounted() {
    eventBus.$on("DIGIT_KEY_PRESSED", this.onDigitKeyPressed);
    eventBus.$on("CTRL_CLICKED_ON_FEATURE_TOGGLE", class_id => {
      if (class_id > this.payload.class_id && !this.payload.shown) {
        this.onEyeClicked();
      } else if (class_id < this.payload.class_id && this.payload.shown) {
        this.onEyeClicked();
      }
    });
    eventBus.$on("GROUP_TOGGLED", payload => {
      const [class_id, state] = payload;
      if (class_id === this.payload.class_id) {
        if (state !== this.payload.shown) this.onEyeClicked();
      }
    });
  },
  methods: {
    onDigitKeyPressed(numString) {
      if (parseInt(numString, 10) === this.payload.num_shortcut) {
        this.onTypeButtonClicked({ ctrlKey: false });
      }
    },
    onEyeClicked(e) {
      if (e && e.ctrlKey) {
        eventBus.$emit("CTRL_CLICKED_ON_FEATURE_TOGGLE", this.payload.class_id);
        if (this.payload.shown) return;
      }
      this.payload.shown = !this.payload.shown;
      const visibleFeatureTypes = this.$store.getters.visibleFeatureTypes;
      if (this.payload.shown) {
        visibleFeatureTypes.push(this.payload.class_name);
        this.$store.dispatch("SET_VISIBLE_FEATURE_TYPES", visibleFeatureTypes);
      } else {
        const index = visibleFeatureTypes.indexOf(this.payload.class_name);
        if (index > -1) {
          visibleFeatureTypes.splice(index, 1);
        }
        this.$store.dispatch("SET_VISIBLE_FEATURE_TYPES", visibleFeatureTypes);
      }
      eventBus.$emit("TOGGLE_LAYERS_BY_FEATURE_TYPE", visibleFeatureTypes);
    },
    onTypeButtonClicked(e) {
      this.$store.dispatch("SET_ACTIVE_FEATURE_TYPE", null);
      const draw = this.$store.getters.draw;
      const selectedFeatures = draw.getSelected().features;

      const featureTypeCounts = this.$store.getters.featureTypeCounts;

      for (let feature of selectedFeatures) {
        featureTypeCounts[feature.properties.class_name] -= 1;
        draw.setFeatureProperty(feature.id, "class_id", this.payload.class_id);
        draw.setFeatureProperty(
          feature.id,
          "class_name",
          this.payload.class_name
        );
        featureTypeCounts[this.payload.class_name] += 1;
      }

      this.$store.dispatch("SET_FEATURE_TYPE_COUNTS", featureTypeCounts);

      if (e.ctrlKey && !this.isThisFeatureTypeActive) {
        this.$store.dispatch("SET_ACTIVE_FEATURE_TYPE", this.payload);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.MainSidebarVectorsFeatureTypeItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.7rem 1.7rem 1.7rem 1rem;
  position: relative;
  user-select: none;
  background-color: $color-white-2;

  &:nth-child(even) {
    background-color: $color-white-1;
  }

  &__typeButton {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-left: 1.5rem;
    padding: 0.8rem 1rem 0.8rem 3.8rem;
    background-color: $color-white-4;
    color: $color-black;
    border: 0;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 1px 1px $color-gray-1;
    user-select: none;
    position: relative;
    transition: all 0.3s ease;
  }

  &__colorCircle {
    height: 1.7rem;
    width: 1.7rem;
    border: 2px solid $color-gray-5;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: $color-accent;
    color: $color-white-0;
    // box-shadow: 0 0 5px $color-accent;
    // background-color: $color-white-0;
    // color: $color-accent;
    // box-shadow: 0 0 5px $color-gray-3;
    position: absolute;
    bottom: 0.6rem;
    right: 1rem;
    border-radius: 2px;
    padding: 2px 5px;
  }
}

.pulsing {
  animation: pulseAnim 1s ease-in-out infinite;
}

@keyframes pulseAnim {
  50% {
    background-color: #fff;
  }
}
</style>
