<template>
  <div class="MainSidebarVectorsTab">
    <div class="MainSidebarVectorsTab__temperatureSlider">
      <div class="MainSidebarVectorsTab__temperatureSliderTitle">
        Filter by temperature
      </div>
      <vue-slider
        ref="slider"
        v-model="tempSliderValue"
        :min="minTemp"
        :max="maxTemp"
        :width="width"
        :height="height"
        :dotSize="dotSize"
        :disabled="disabled"
        :show="show"
        :tooltip="tooltip"
        :tooltipDir="tooltipDir"
        :piecewise="piecewise"
        :style="style"
        :bgStyle="bgStyle"
        :sliderStyle="sliderStyle"
        :tooltipStyle="tooltipStyle"
        :processStyle="processStyle"
        :formatter="formatter"
        :mergeFormatter="mergeFormatter"
      />
    </div>
    <div class="MainSidebarVectorsTab__TypeFilter">
      <div class="MainSidebarVectorsTab__TypeFilterTitle">
        Filter by type
      </div>
      <main-sidebar-vectors-group
        v-for="g in allFeatureGroups"
        :key="g"
        :group-name="g"
        :payload="featureTypesOfGroup(g)"
      />
    </div>
  </div>
</template>

<script>
import vueSlider from 'vue-slider-component';
import MainSidebarVectorsGroup from "./MainSidebarVectorsGroup";
import { eventBus } from '../eventBus';

export default {
  components: {
    vueSlider,
    MainSidebarVectorsGroup,
  },
  data() {
    return {
      width: "100%",
      height: 5,
      dotSize: 15,
      disabled: false,
      show: true,
      tooltip: "always",
      tooltipDir: [
        "bottom",
        "bottom"
      ],
      piecewise: false,
      style: {
        "marginBottom": "30px"
      },
      bgStyle: {
        "backgroundColor": "#fff",
        "boxShadow": "inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)"
      },
      sliderStyle: [
        {
          "backgroundColor": "#2880b7"
        },
        {
          "backgroundColor": "#ba4a1a"
        }
      ],
      tooltipStyle: [
        {
          "fontSize": "1.2rem",
          "fontWeight": "700",
          "borderRadius": "3px",
          "backgroundColor": "#2880b7",
          "borderColor": "#2880b7"
        },
        {
          "fontSize": "1.2rem",
          "fontWeight": "700",
          "borderRadius": "3px",
          "backgroundColor": "#ba4a1a",
          "borderColor": "#ba4a1a"
        }
      ],
      processStyle: {
        "backgroundImage": "-webkit-linear-gradient(left, #2880b7, #ba4a1a)"
      },
      formatter: "{value} °C",
      mergeFormatter: "{value1} °C ~ {value2} °C"
    };
  },
  mounted() {
    setInterval(() => this.$refs.slider.refresh(), 500);
  },
  computed: {
    tempSliderValue: {
      get() {
        return this.$store.getters.tempSliderValue;
      },
      set(val) {
        this.$store.dispatch("SET_TEMP_SLIDER_VALUE", val);
        eventBus.$emit("FILTER_FEATURES_BY_TEMP", val);
      }
    },
    minTemp: {
      get() {
        return this.$store.getters.minTemp;
      },
      set(val) {
        this.$store.dispatch("SET_MIN_TEMP", val);
      }
    },
    maxTemp: {
      get() {
        return this.$store.getters.maxTemp;
      },
      set(val) {
        this.$store.dispatch("SET_MAX_TEMP", val);
      }
    },
    allFeatureGroups() {
      const result = [];
      const config = this.$store.getters.configuration;
      if (!config) return result;
      for (let rule of config) {
        const group = rule.group;
        if (!result.includes(group)) result.push(group);
      }
      return result;
    },
    allFeatureTypes() {
      const result = [];
      const config = this.$store.getters.configuration;
      const mapData = this.$store.getters.mapData;
      const visibleFeatureTypes = this.$store.getters.visibleFeatureTypes;
      if (!config) return result;
      if (!mapData) return result;
      for (let rule of config) {
        const temp = {};
        temp.shown = visibleFeatureTypes.includes(rule.class_name);
        temp.class_id = rule.class_id;
        temp.class_name = rule.class_name;
        temp.name = rule.description;
        temp.color = rule.color;
        temp.group = rule.group;
        temp.num_shortcut = rule.num_shortcut;
        if (
          this.$store.getters.featureTypeCounts &&
          this.$store.getters.featureTypeCounts[rule.class_name]
        )
          temp.count = this.$store.getters.featureTypeCounts[rule.class_name];
        else temp.count = 0;
        result.push(temp);
      }
      return result;
    }
  },
  methods: {
    featureTypesOfGroup(groupName) {
      const result = [];
      for (let type of this.allFeatureTypes) {
        if (type.group === groupName) result.push(type);
      }
      return result;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.MainSidebarVectorsTab {
  display: flex;
  height: calc(100% - 4.5rem);
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;

  &__temperatureSlider {
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 1rem 0 1rem;
    border: 1px solid $color-white-5;
    background-color: darken($color-white-2, 2);
  }

  &__temperatureSliderTitle {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__TypeFilter {
    margin: 1rem 1rem 0 1rem;
    // padding: 1rem 1rem 0 1rem;
    border: 1px solid $color-white-5;
    background-color: darken($color-white-2, 2);
  }

  &__TypeFilterTitle {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
</style>
