<template>
  <div class="MainSidebarVectorsTabGroup">
    <div class="MainSidebarVectorsTabGroupTitle" @click="toggleAccordion">
      <eye-button :is-active="areAllFeatureTypesOfThisGroupsVisible" @click.native.stop="onEyeClicked"/>
      <div class="MainSidebarVectorsTabGroupTitleInfo">
        GROUP: {{groupName}}
        <font-awesome-icon
          :icon="accordionExpanded ? 'minus-square' : 'plus-square'"
          class="MainSidebarVectorsTabGroupTitleIcon"
        />
      </div>
    </div>
    <div
      :class="accordionExpanded ? 'MainSidebarVectorsTabGroupItems--expanded' : ''"
      class="MainSidebarVectorsTabGroupItems"
    >
      <main-sidebar-vectors-feature-type-item
        v-for="v in payload"
        :key="v.name"
        :payload="v"
        class="MainSidebarVectorsTabGroupItem"
      />
    </div>
  </div>  
</template>

<script>
import MainSidebarVectorsFeatureTypeItem from "./MainSidebarVectorsFeatureTypeItem";
import eyeButton from "./EyeButton.vue";
import { eventBus } from "../eventBus";

export default {
  components: {
    MainSidebarVectorsFeatureTypeItem,
    eyeButton
  },
  props: ["groupName", "payload"],
  data() {
    return {
      accordionExpanded: true
    };
  },
  computed: {
    areAllFeatureTypesOfThisGroupsVisible() {
      const visibleFeatureTypes = this.$store.getters.visibleFeatureTypes;
      for (let featureType of this.payload) {
        if (!visibleFeatureTypes.includes(featureType.class_name)) {
          return false;
        }
      }
      return true;
    }
  },
  methods: {
    toggleAccordion() {
      this.accordionExpanded = !this.accordionExpanded;
    },
    onEyeClicked() {
      const newState = !this.areAllFeatureTypesOfThisGroupsVisible;
      this.payload.forEach(featureType => {
        eventBus.$emit("GROUP_TOGGLED", [featureType.class_id, newState]);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.MainSidebarVectorsTabGroup {
  margin: 1rem;
  margin-bottom: 0;
  border: 1px solid $color-white-5;
  background-color: darken($color-white-2, 2);
  user-select: none;

  &:last-child {
    margin-bottom: 1rem;
  }

  &Title {
    height: 5rem;
    padding: 0 1rem;
    border-bottom: 1px solid $color-white-1;
    background-color: $color-white-1;
    font-weight: 700;
    text-transform: uppercase;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1rem $color-gray-3;

    &Info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-left: 1.5rem;
    }
  }

  &Items {
    max-height: 0;
    height: 0;
    transition: all 0.5s ease-in;
    display: none;

    &--expanded {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      height: auto;
    }
  }
}
</style>
