<template>
  <div class="MainSidebarRastersTabGroup"
    :class="isChildRasterVisible ? 'MainSidebarRastersTabGroup--childVisible' : ''"
    v-if="payload.length"
  >
    <div class="MainSidebarRastersTabGroupTitle" @click="toggleAccordion">
      <div class="MainSidebarRastersTabGroupTitleInfo">
        <font-awesome-icon
          :icon="accordionExpanded ? 'chevron-circle-down' : 'chevron-circle-right'"
          class="MainSidebarRastersTabGroupTitleIcon"
        />
        {{groupName}}
      </div>
    </div>
    <div
      :class="accordionExpanded ? 'MainSidebarRastersTabGroupItems--expanded' : ''"
      class="MainSidebarRastersTabGroupItems"
    >
      <main-sidebar-rasters-tab-item
        v-for="v in payload"
        :key="v.projectID"
        :payload="v"
        class="MainSidebarRastersTabGroupItem"
      />
    </div>
  </div>  
</template>

<script>
import MainSidebarRastersTabItem from "./MainSidebarRastersTabItem";
import eyeButton from "./EyeButton.vue";
import { eventBus } from "../eventBus";

export default {
  components: {
    MainSidebarRastersTabItem,
    eyeButton
  },
  props: ["payload", "groupName"],
  data() {
    return {
      accordionExpanded: true,
      eyeActive: true,
    };
  },
  mounted() {
    eventBus.$on("ACCORDION_EXPANDED", groupName => {
      if (groupName !== this.groupName) {
        this.accordionExpanded = false;
      }
    })
  },
  computed: {
    isChildRasterVisible() {
      const visibleRaster = this.$store.getters.visibleRaster;
      if (visibleRaster) {
        for (let child of this.payload) {
          if (child.projectID === visibleRaster.projectID) {
            return true;
          }
        }
      }
      return false;
    }
  },
  methods: {
    toggleAccordion() {
      this.accordionExpanded = !this.accordionExpanded;
      if (this.accordionExpanded) {
        eventBus.$emit("ACCORDION_EXPANDED", this.groupName);
      }
    },
    onEyeClicked() {
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.MainSidebarRastersTabGroup {
  margin: 1rem;
  margin-bottom: 0;
  border: 1px solid $color-white-5;
  background-color: darken($color-white-2, 2);
  user-select: none;
  border-radius: 3px;

  &--childVisible &Title {
    color: $color-accent;
  }

  &:last-child {
    margin-bottom: 1rem;
  }

  &Title {
    height: 5rem;
    padding: 0 1rem 0 0;
    border-bottom: 1px solid $color-white-1;
    background-color: $color-white-1;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1rem $color-gray-3;

    &Icon {
      font-size: 1.5rem;
      margin-right: 1.4rem;
    }

    &Info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-left: 1.5rem;
    }
  }

  &Items {
    max-height: 0;
    height: 0;
    transition: all 0.5s ease-in;
    display: none;

    &--expanded {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      height: auto;
    }
  }
}
</style>
