<template>
  <div :class="sidebarHidden ? '' : 'MainSidebar--expanded'" class="MainSidebar">
    <div class="MainSidebar__toggleButton" @click="onSidebarToggleClicked">
      <font-awesome-icon :icon="sidebarHidden ? 'layer-group' : 'times'" size="xs" />
    </div>
    <div class="MainSidebar__tabTitles">
      <div
        :class="currentTab === 'rasters' ? 'MainSidebar__tabTitle--active' : ''"
        class="MainSidebar__tabTitle MainSidebar__tabTitle2"
        @click="changeTab('rasters')"
      >
        Orthos
      </div>
      <div
        v-show="ifAnyRasterVisible"
        :class="currentTab === 'vectors' ? 'MainSidebar__tabTitle--active' : ''"
        class="MainSidebar__tabTitle MainSidebar__tabTitle1"
        @click="changeTab('vectors')"
      >
        Detections
      </div>
    </div>
    <keep-alive>
      <main-sidebar-vectors-tab
        :tabActive="currentTab"
        v-if="currentTab === 'vectors'"
        class="MainSidebar__currentTab--v MainSidebar__currentTab" />
      <main-sidebar-rasters-tab
        v-else
        class="MainSidebar__currentTab--r MainSidebar__currentTab" />
    </keep-alive>
  </div>
</template>

<script>
import MainSidebarVectorsTab from "./MainSidebarVectorsTab";
import MainSidebarRastersTab from "./MainSidebarRastersTab";

export default {
  components: {
    MainSidebarVectorsTab,
    MainSidebarRastersTab
  },
  computed: {
    ifAnyRasterVisible() {
      return this.$store.getters.visibleRaster !== null;
    }
  },
  data() {
    return {
      sidebarHidden: false,
      currentTab: "rasters"
    };
  },
  methods: {
    onSidebarToggleClicked() {
      this.sidebarHidden = !this.sidebarHidden;
    },
    changeTab(tabName) {
      this.currentTab = tabName;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.MainSidebar {
  position: absolute;
  top: 2rem;
  left: 0.8rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.3s ease;
  border: 2px solid $mbish-border-color;
  border-radius: $mbish-border-radius;
  background-color: $mbish-background-color;
  background-clip: padding-box;
  & > *:not(.MainSidebar__toggleButton) {
    opacity: 0;
  }

  &--expanded {
    width: 30rem;
    height: calc(100% - 9.5rem);
    background-color: $color-white-1;
    & > *:not(.MainSidebar__toggleButton) {
      opacity: 1;
    }
  }

  &__toggleButton {
    font-size: 1.6rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    user-select: none;
    transition: top 0.3s ease, right 0.3s ease;
    border: 0;
    border-radius: 50%;
    background-color: $mbish-background-color;
    background-clip: padding-box;
    z-index: 3;
  }

  &--expanded &__toggleButton {
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.3s all;
    color: $color-accent;
    z-index: 3;
    // border: 2px solid $mbish-border-color;
    border: 0;
    border-radius: 50%;
    background-color: $color-white-1;
    box-shadow: 0 0 15px $color-accent;
    &:hover {
      color: $color-white-1;
      background-color: $color-accent;
      box-shadow: 0 0 15px $color-accent;
    }
  }

  &__tabTitles {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 4.5rem;
    user-select: none;
    background-color: $color-white-1;
    box-shadow: 0 1px 10px rgba($color-black, 0.5);
  }

  &__tabTitle {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    color: $color-black;
    &:hover {
      color: $color-accent;
    }

    &--active {
      color: $color-accent;
      background-color: $color-white-0;
      box-shadow: 0 2px 1.5rem $color-gray-3;
    }
  }

  &__currentTab {
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
  }
}
</style>
