<template>
  <div id="map" ref="refMap" class="MapView" />
</template>

<script>
import { saveAs } from "file-saver";
import mapboxgl from "mapbox-gl";
import MapboxDraw from "@mapbox/mapbox-gl-draw";
import "@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css";
import { MAPBOX_API_TOKEN } from "../hushHush";
import { eventBus } from "../eventBus";
import { ConfigMap, ConfigArray } from "../js/frozenConfig.js";
import { getDataFromId, configMap } from "../js/issuesConfig.js";
import IOEngine from "../mixins/IOEngine";
var fs = require('fs');

export default {
  data() {
    return {
      selectedUneditableFeatures: [],
      readyingVectorsParentRastersId: null,
      issuePopup: new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
      })
    };
  },
  mounted() {
    eventBus.$on("FILTER_FEATURES_BY_TEMP", this.filterFeaturesByTempRange);
    eventBus.$on("RASTER_ITEM_ADDED", this.onRasterItemAdded);
    eventBus.$on("TOGGLE_LAYER_FROM_RASTER_SOURCE", payload => {
      this.toggleRasterLayer(payload[0], payload[1]);
    });
    eventBus.$on("TOGGLE_LAYERS_BY_FEATURE_TYPE", this.filterFeaturesByType);
    eventBus.$on("DECORATE_LAYER", payload => {
      this.toggleRasterLayer(payload[0], payload[1]);
    });
    const map = this.initializeMap();
    map.on("load", () => {
      this.$store.dispatch("SET_MAP", map);
      const draw = this.initializeGLDraw(map);
      this.$store.dispatch("SET_DRAW", draw);
      this.initializeControls(map, draw);
      this.setupActions(map, draw);
      this.applyConfig();
      this.loadInitialData();
    });
  },
  mixins: [IOEngine],
  methods: {
    loadInitialData() {
      this.loadStandaloneFileWithID();
    },
    applyConfig() {
      this.readConfigData(ConfigArray);
    },
    readConfigData(confArray) {
      const stops = [];
      const featureTypeCounts = {};

      for (let el of confArray) {
        stops.push([el.class_id, el.color]);
        featureTypeCounts[el.class_name] = 0;
      }
      this.$store.dispatch("SET_FEATURE_TYPE_COUNTS", featureTypeCounts);
      this.$store.dispatch(
        "SET_VISIBLE_FEATURE_TYPES",
        Object.keys(featureTypeCounts)
      );
      this.$store.dispatch("SET_CONFIGURATION", confArray);
  
      this.applyColorStops(stops);
    },
    applyColorStops(stops) {
      const map = this.$store.getters.map;
      map.setPaintProperty(
        "gl-draw-polygon-stroke-inactive.hot",
        "line-color",
        {
          property: "user_class_id",
          type: "categorical",
          stops: stops,
          default: "#3d3d3d"
        }
      );
      map.setPaintProperty(
        "gl-draw-polygon-stroke-inactive.cold",
        "line-color",
        {
          property: "user_class_id",
          type: "categorical",
          stops: stops,
          default: "#3d3d3d"
        }
      );

      map.setPaintProperty("gl-draw-line-inactive.hot", "line-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty("gl-draw-line-inactive.cold", "line-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });

      map.setPaintProperty("gl-draw-point-inactive.hot", "circle-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty("gl-draw-point-inactive.cold", "circle-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });

      map.setPaintProperty("gl-draw-polygon-stroke-active.hot", "line-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty("gl-draw-polygon-stroke-active.cold", "line-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty("gl-draw-polygon-fill-active.hot", "fill-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty("gl-draw-polygon-fill-active.cold", "fill-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty("gl-draw-polygon-fill-inactive.hot", "fill-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty("gl-draw-polygon-fill-inactive.cold", "fill-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty(
        "gl-draw-polygon-fill-active.hot",
        "fill-opacity",
        0.3
      );
      map.setPaintProperty(
        "gl-draw-polygon-fill-active.cold",
        "fill-opacity",
        0.3
      );
      map.setPaintProperty(
        "gl-draw-polygon-fill-inactive.hot",
        "fill-opacity",
        0
      );
      map.setPaintProperty(
        "gl-draw-polygon-fill-inactive.cold",
        "fill-opacity",
        0
      );

      map.setPaintProperty("gl-draw-line-active.hot", "line-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty("gl-draw-line-active.cold", "line-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });

      map.setPaintProperty("gl-draw-point-active.hot", "circle-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });
      map.setPaintProperty("gl-draw-point-active.cold", "circle-color", {
        property: "user_class_id",
        type: "categorical",
        stops: stops,
        default: "#3d3d3d"
      });

      this.$store.dispatch("SET_COLORSTOPS", stops);
    },
    initializeMap() {
      mapboxgl.accessToken = MAPBOX_API_TOKEN;
      return new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/satellite-v9",
        center: [71.92732, 27.5005],
        zoom: 10,
        attributionControl: false
      });
    },
    initializeGLDraw(map) {
      const draw = new MapboxDraw({
        userProperties: true,
        keybindings: false,
        modes: {
          "simple_select": MapboxDraw.modes.simple_select,
        },
        displayControlsDefault: false,
      });
      map.addControl(draw, "top-left");
      return draw;
    },
    initializeControls(map, draw) {
      map.addControl(
        new mapboxgl.AttributionControl({
          compact: true
        })
      );
      const navControl = new mapboxgl.NavigationControl();
      map.addControl(navControl, "bottom-right");
    },
    onRasterItemAdded(payload) {
      const map = this.$store.getters.map;
      let url = payload.tiles;
      url = url.endsWith("/") ? url : url + "/";
      // console.log(`Adding raster with url ${url}`);
      const s = map.addSource(payload.projectID.toString(), {
        type: "raster",
        tiles: [url + "{z}/{x}/{y}.png"],
        tileSize: 256
      });
      return s;
    },
    getFilteredFeatureCollection(visibleFeatureTypes, tempRange) {
      const visibleRaster = this.$store.getters.visibleRaster;
      if (!visibleRaster) return;
      const draw = this.$store.getters.draw;
      const completeFeatureCollection = draw.getAll();
      const featuresOfTheVisibleRaster = visibleRaster.vectorsStore.features;
      const completeFeatureCollectionFeatures =
        completeFeatureCollection.features;
      featuresOfTheVisibleRaster.map(feature => {
        if (!draw.get(feature.id))
          completeFeatureCollectionFeatures.push(feature);
      });
      this.$store.state.visibleRaster.vectorsStore = completeFeatureCollection;

      const [rangeMin, rangeMax] = tempRange;

      const filteredFeatures = completeFeatureCollection.features.filter(x =>
        visibleFeatureTypes.includes(x.properties.class_name) &&
        rangeMin <= x.properties.temperature_difference &&
        x.properties.temperature_difference <= rangeMax
      );

      const featureCollection = {
        type: "FeatureCollection",
        features: filteredFeatures
      };
      return featureCollection;
    },
    filterFeaturesByTempRange(tempRange) {
      const visibleFeatureTypes = this.$store.getters.visibleFeatureTypes;
      const featureCollection = this.getFilteredFeatureCollection(visibleFeatureTypes, tempRange);
      const draw = this.$store.getters.draw;
      draw.set(featureCollection);
    },
    filterFeaturesByType(visibleFeatureTypes) {
      const tempRange = this.$store.getters.tempSliderValue;
      const featureCollection = this.getFilteredFeatureCollection(visibleFeatureTypes, tempRange);
      const draw = this.$store.getters.draw;
      draw.set(featureCollection);
    },
    generateHTMLFromData(payload) {
      return `
        <div class="jsPopup">
          <div class="jsPopup__Head">
            <div class="jsPopup__HeadLeft">
              <div class="jsPopup__link">
                <i class="jsPopup__LinkIcon fas fa-link"></i>
              </div>
              <div class="jsPopup__IssueID">ID: ${payload.issueId}</div>
            </div>
            <div class="jsPopup__IssueType">${payload.issueType}</div>
          </div>
          <div class="jsPopup__Body">
            <div class="jsPopup__BodyLeft">
              <div class="jsPopup__IssueStatus ${payload.issueStatus === "Fixed" ? "jsPopup__IssueStatus--done" : "jsPopup__IssueStatus--notdone" }">
                <span class="jsPopup__Key">
                  Status:
                </span>
                <span class="jsPopup__IssueStatusValue">${payload.issueStatus}</span>
              </div>
              <div class="jsPopup__Coordinates">
                <span class="jsPopup__Key">
                  Lat, Lng:
                </span>
                <a target="_blank" href="https://www.google.com/maps/?t=h&z=25&q=${payload.coordinates[1]},${payload.coordinates[0]}">
                  ${payload.coordinates[1]}, ${payload.coordinates[0]}
                </a>
              </div>
              <div class="jsPopup__Comment">
                <span class="jsPopup__Key">
                  Comment:
                </span> ${payload.comment}
              </div>
            </div>
            <div class="jsPopup__BodyRight">
              <div class="jsPopup__Temperature">
                <i class="jsPopup__TemperatureIcon fas fa-thermometer-half"></i>
                ${parseFloat(payload.temperature).toFixed(2)} °C
              </div>
            </div>
          </div>
        </div>
      `;
    },
    extractPopupDataFromFeature(feature) {
      const coordinates = feature.properties.center[0];

      const data = {
        issueId: feature.properties.uid,
        issueType: ConfigMap[feature.properties.class_name].description,
        issueDescription: "A typical failure that occurs due to multiple cells getting affected.",
        issueStatus: "Not-Verified",
        coordinates,
        comment: "Found an issue but not verified yet.",
        temperature: `${feature.properties.temperature_difference} °C`
      };

      return data;
    },
    addPopupToFeature(map, feature) {
      const coordinates = feature.properties.center[0];
      const data = this.extractPopupDataFromFeature(feature);
      const html = this.generateHTMLFromData(data);
      this.issuePopup.setLngLat(coordinates).setHTML(html).addTo(map);
    },
    getVectors(id, url) {
      fetch(url)
      .then(res => {
        return res.json();
      })
      .then(jsonBourne => {
        const features = jsonBourne.features;
        const featureTypeCounts = {};

        let minTemp = 9999999;
        let maxTemp = -9999999;

        for(let j of features) {
          if (j.properties.temperature_difference < minTemp)
            minTemp = j.properties.temperature_difference;
          if (j.properties.temperature_difference > maxTemp)
            maxTemp = j.properties.temperature_difference;

          if (featureTypeCounts[j.properties.class_name])
            featureTypeCounts[j.properties.class_name] += 1;
          else
            featureTypeCounts[j.properties.class_name] = 1;
        }

        minTemp = Math.floor(minTemp);
        maxTemp = Math.ceil(maxTemp);

        this.$store.dispatch("SET_MIN_TEMP", minTemp);
        this.$store.dispatch("SET_MAX_TEMP", maxTemp);
        this.$store.dispatch("SET_TEMP_SLIDER_VALUE", [minTemp, maxTemp]);

        this.$store.dispatch("SET_FEATURE_TYPE_COUNTS", featureTypeCounts);
        const draw = this.$store.getters.draw;

        draw.set(jsonBourne);
        const visibleRaster = this.$store.getters.visibleRaster;
        visibleRaster.vectorsStore = draw.getAll();
        this.$store.dispatch("SET_VISIBLE_RASTER", visibleRaster);
        eventBus.$emit("SHOWHIDEBLOCKERMODAL", false);
      })
      .catch(err => {eventBus.$emit("SHOWHIDEBLOCKERMODAL", false); console.log(err)});
    },
    toggleRasterLayer(payload, show) {
      const map = this.$store.getters.map;
      const draw = this.$store.getters.draw;
      draw.deleteAll();
      const allFeatureTypes = this.$store.getters.allFeatureTypes;
      this.$store.dispatch("SET_VISIBLE_FEATURE_TYPES", [...allFeatureTypes]);

      if (show) {
        if (this.$store.state.visibleRaster) {
          map.removeLayer(this.$store.state.visibleRaster.projectID.toString());
          this.$store.state.visibleRaster.properties.visible = false;
        }
        if (map.getLayer("gl-draw-polygon-fill-inactive.cold")) {
          map.addLayer({
            id: payload.projectID.toString(),
            source: payload.projectID.toString(),
            type: "raster"
          },
          "gl-draw-polygon-fill-inactive.cold"
          );
        } else {
          map.addLayer({
            id: payload.projectID.toString(),
            source: payload.projectID.toString(),
            type: "raster"
          });
        }

        this.getVectors(payload.projectID, payload.vectors);
        this.$store.dispatch("SET_VISIBLE_RASTER", payload);
      } else {
        this.$store.state.visibleRaster.properties.visible = false;
        map.removeLayer(payload.projectID.toString());
        this.$store.dispatch("SET_VISIBLE_RASTER", null);
      }
    },
    setupActions(map, draw) {
      function removeElementWithIdFromVisibleRaster(id, visibleRaster) {
        let whatchaNeed;

        for (let x of visibleRaster.vectorsStore.features) {
          if (x.id === id) {
            whatchaNeed = x;
          }
        }

        const index = visibleRaster.vectorsStore.features.indexOf(whatchaNeed);
        visibleRaster.vectorsStore.features.splice(index, 1);
      }
      map.on("draw.delete", e => {
        const features = e.features;
        setTimeout(() => {
          for (let feature of features) {
            if (
              feature.properties.editable !== undefined &&
              feature.properties.editable === false
            ) {
              console.log("Can't delete that");
              const newFeature = Object.assign({}, feature);
              draw.add(newFeature);
            } else {
              // draw.delete(feature.id);
              removeElementWithIdFromVisibleRaster(
                feature.id,
                this.$store.state.visibleRaster
              );
            }
          }
        }, 0);
      });
      map.on("draw.update", () => {
        for (let feature of this.selectedUneditableFeatures) {
          draw.add(feature);
        }
      });
      map.on("draw.modechange", e => {
        if (e.mode === "direct_select") {
          draw.changeMode("simple_select");
        } else if (e.mode.endsWith("select")) {
          if (
            this.$store.state.isContinuousModeActive &&
            this.$store.state.lastActiveDrawMode
          ) {
            draw.changeMode(this.$store.state.lastActiveDrawMode);
          }
        } else if (e.mode.startsWith("draw")) {
          this.$store.state.lastActiveDrawMode = e.mode;
        }
      });
      map.on("draw.selectionchange", () => {
        const features = draw.getSelected().features || [];

        if (!features.length) return;
        // const feature = draw.get(features[0].id);
        // console.log(features[0]);
        const popupData = this.extractPopupDataFromFeature(features[0]);
        const htmlData = this.generateHTMLFromData(popupData);
        const payload = {
          imageData: features[0].properties.raw_images,
          htmlData,
        }
        // eventBus.$emit("SHOW_IMAGE_VIEWER", payload);

        features.forEach(feature => {
          if (
            feature.properties.editable !== undefined &&
            feature.properties.editable === false
          )
            this.selectedUneditableFeatures.push(feature);
        });
      });
      map.on("mousemove", (e) => {
        if (e.featureTarget) {
          // console.log(e.featureTarget);
          const target = draw.get(e.featureTarget.properties.id);
          if (target)
            this.addPopupToFeature(map, target);
        } else {
          this.issuePopup.remove();
        }
      });
    },
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mapbox-gl.css";

.MapView {
  width: 100%;
  height: 100%;
}
</style>
