<template>
<div class="ReportViewer" v-show="reportModalShown">
  <!-- <pdf v-if="sourceUrl" :scr="sourceUrl"></pdf> -->
</div>
</template>

<script>
import PSPDFKit from "pspdfkit";
import { eventBus } from "../eventBus";
import makeToolbarItems from "../js/pspdfkit-toolbar-items.js";

export default {
  data() {
    return {
      reportModalShown: false,
      sourceUrl: "",
    }
  },
  methods: {
    downloadPDF(url) {
      return "https://cdn.filestackcontent.com/5qOCEpKzQldoRsVatUPS";
    },
    viewReport(url) {
      this.unloadMe();
      const pdfData = this.downloadPDF(url);
      this.reportModalShown = true;
      this.sourceUrl = url;

      const toolbarItems = makeToolbarItems(
        function getInstance() {
          return currentInstance;
        },
        function callback() {
          hasUnsavedAnnotations = false;
        }
      );

      PSPDFKit.load({
        container: ".ReportViewer",
        pdf: pdfData,
        toolbarItems,
        licenseKey: "Zhte-hvz2IMP2asbnMxF9nLqBMBm9yYj-7fDM-4cJRgO0aOxXaJhzH6mH7zQDB0Jwgk76VxScb3oxeLhYzlV4dxF4kKEGbSOwl3R6sX3FvxUsUIDp2e5PpvLckn00J-UyGsW2-jlDfjqxwwqKI5K5YFbZ6pxD3uCCuTVoxBNr_RVB4dR6b_SFPprBOgVruvsToxgFMkQhzXBvQDEqVeSyWimOh3unwzdVBolkp8CiCEshohIRWy5IRPsNWNXj-odcLLRS5RAHNZMN4dKmDLK-IGDtG8PcaKlIAPdrig8l3APnP8LPDIhrOR9cBn37lI0hzFPFnqKNsQZGgl-0cVLCRW-1W9slTfwdfT73JMbfSO2fslCL8DRY5wPxyPF9yENvTkxm1HbOHoC6Jzg6nGErD3-TcQpE519MzMIiSJqVdibcUoTeWXhUSKpnVoWQ3Uu"
      })
      .then(instance => {
        console.log("PSPDFKit loaded", instance);
      })
      .catch(error => {
        console.log("ERROOOOOOOOOOOOOOOOOOORRRRRRRRR");
        console.error(error.message);
      });

    },
    unloadMe() {
      if (!this.reportModalShown) return;
      console.info("Destroyed previous instance");
      this.reportModalShown = false;
      this.sourceUrl = "";
      PSPDFKit.unload(".ReportViewer");
    }
  },
  mounted() {
    eventBus.$on("VIEW_REPORT", this.viewReport);
    eventBus.$on("HIDE_REPORT_VIEWER", this.unloadMe);
  }
}
</script>

<style lang="scss" scoped>
.ReportViewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);
  background-color: rgba(255, 255, 255, 0.959);
  background-color: white;
  box-shadow: 0 3px 2rem rgb(77, 77, 77);
  z-index: 10000;
  // border-radius: 3px;
}
</style>





