<template>
<div class="ReportViewer" v-show="reportModalShown" @keydown="onKeyUp">
  <div class="ReportViewer__closeButton" @click="unloadMe">
    <font-awesome-icon icon="times" size="sm" />
  </div>
  <iframe v-show="!loading" class="ReportViewer__frame" :src="objectURL" type="application/pdf">
  </iframe>
  <BreedingRhombusSpinner class="ReportViewer__spinner" :animation-duration="1000" :size="40" v-show="loading" color="#e24d4d" />
  <div class="ReportViewer__helpText">Can't view the report? <a :href="sourceURL">Click here</a> to download the PDF</div>
</div>
</template>

<script>
import { BreedingRhombusSpinner } from 'epic-spinners';
import { eventBus } from "../eventBus";

export default {
  data() {
    return {
      reportModalShown: false,
      sourceURL: "",
      objectURL: "",
			loadedRatio: 0,
			page: 1,
			numPages: 0,
      rotate: 0,
      loading: true,
    }
  },
  components: {
    BreedingRhombusSpinner,
  },
  methods: {
    onKeyUp(event) {
      if (event.key === "Escape") this.unloadMe();
    },
    // forceDownloadThroughBrowser(url)
    downloadPDF(url) {
      fetch(url)
      .then(response => {
        fetch(response.url, {
          headers: {
            "Content-Type" : "application/pdf",
          }
        })
        .then(response => {
          return response.blob();
        })
        .then(blobba => {
          this.objectURL = window.URL.createObjectURL(blobba);
          this.loading = false;
        })
      })
      .catch(err => console.err);
},
    viewReport(url) {
      this.sourceURL = url;
      this.loading = true;
      this.reportModalShown = true;
      this.downloadPDF(this.sourceURL);
    },
    unloadMe() {
      this.reportModalShown = false;
      this.objectURL = "";
      this.loading = true;
    },
    password(updatePassword, reason) {
			updatePassword(prompt('password is "test"'));
		},
		error(err) {
			console.log(err);
		}
  },
  mounted() {
    eventBus.$on("VIEW_REPORT", this.viewReport);
    eventBus.$on("HIDE_REPORT_VIEWER", this.unloadMe);
  }
}
</script>

<style lang="scss" scoped>

@import "../assets/variables.scss";

.ReportViewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);
  background-color: $color-white-1;
  box-shadow: 0 0 2rem rgb(44, 44, 44);
  z-index: 10000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__frame {
    border: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
  }

  &loading {
    z-index: 100000;
  }

  &__closeButton {
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 2.8rem;
    height: 2.8rem;
    transition: 0.3s all;
    color: $color-accent;
    z-index: 3;
    border: 0;
    border-radius: 50%;
    background-color: $color-white-1;
    box-shadow: 0 0 15px $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      color: $color-white-1;
      background-color: $color-accent;
      box-shadow: 0 0 15px $color-accent;
    }
  }

  &__helpText {
    font-size: 1.15rem;
    margin: 1rem 0;
  }

  &__spinner {
    margin-bottom: 2rem;
  }
}
</style>