<template>
<div class="ReportViewer" v-show="reportModalShown">
  <pdf v-if="sourceUrl" :scr="sourceUrl" style="border: 3px solid #1ce" :page="page" :rotate="rotate" @password="password" @progress="loadedRatio = $event" @error="error" @num-pages="numPages = $event" @link-clicked="page = $event"></pdf>
</div>
</template>

<script>
import pdf from 'vue-pdf';
import { eventBus } from "../eventBus";

export default {
  data() {
    return {
      reportModalShown: false,
      sourceUrl: "",
			loadedRatio: 0,
			page: 1,
			numPages: 0,
			rotate: 0,
    }
  },
  components: {
    pdf,
  },
  methods: {
    downloadPDF(url) {
      return "https://cdn.filestackcontent.com/5qOCEpKzQldoRsVatUPS";
    },
    viewReport(url) {
      this.unloadMe();
      const pdfData = this.downloadPDF(url);
      this.reportModalShown = true;
      this.sourceUrl = url;
    },
    unloadMe() {
      if (!this.reportModalShown) return;
      console.info("Destroyed previous instance");
      this.reportModalShown = false;
      this.sourceUrl = "";
      PSPDFKit.unload(".ReportViewer");
    },
    password(updatePassword, reason) {
			updatePassword(prompt('password is "test"'));
		},
		error(err) {
			console.log(err);
		}
  },
  mounted() {
    eventBus.$on("VIEW_REPORT", this.viewReport);
    eventBus.$on("HIDE_REPORT_VIEWER", this.unloadMe);
  }
}
</script>

<style lang="scss" scoped>
.ReportViewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);
  background-color: rgba(255, 255, 255, 0.959);
  background-color: white;
  box-shadow: 0 3px 2rem rgb(77, 77, 77);
  z-index: 10000;
  // border-radius: 3px;
}
</style>





