<template>
<div class="ReportViewer" v-show="reportModalShown">
  <!-- <pdf v-if="sourceUrl" :scr="sourceUrl" style="border: 3px solid #1ce" :page="page" :rotate="rotate" @password="password" @progress="loadedRatio = $event" @error="error" @num-pages="numPages = $event" @link-clicked="page = $event"></pdf> -->
</div>
</template>

<script>
import PDFObject from 'pdfobject';
import { eventBus } from "../eventBus";

export default {
  data() {
    return {
      reportModalShown: false,
      sourceUrl: "",
			loadedRatio: 0,
			page: 1,
			numPages: 0,
			rotate: 0,
    }
  },
  methods: {
    downloadPDF(url) {
      return "https://cdn.filestackcontent.com/5qOCEpKzQldoRsVatUPS";
      // fetch(url, {
      //   method: "GET",
      //   headers: {
      //     "Content-Type": "application/json",
      //     "Authorization":"Token 559d0c558c0edff81679e918658d570b5677cb7e"
      //   }
      // })
      //   .then(res => {
      //     console.log(res);
      //     return res;
      //   })
      //   .catch(err => console.err);

      // return "http://localhost:5000/test.pdf";
      // return "https://ws-basket-copy.s3.ap-south-1.amazonaws.com/SB Energy phase iii bhadla new gcps_1836/reports/thermaldata/8ccb7858-a77d-4b51-9093-5e4daca83223.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=1000&response-content-disposition=attachment; filename=7/04/2018-Construction Monitoring Report.pdf&X-Amz-Date=20180815T054813Z&X-Amz-Signature=644d30185d92f450c849621840bc4ccce946f339c8befee9c063fd8f1b9f6ac5&X-Amz-Credential=AKIAJN6JBYF3MC4ENTQQ/20180815/ap-south-1/s3/aws4_request&X-Amz-SignedHeaders=host";
},
    viewReport(url) {
      console.log(url);
      if (PDFObject.supportsPDFs) {
        console.log("Yay, this browser supports inline PDFs");
      } else {
        console.log("Boo, inline PDFs are not supported by this browser");
      }

      const pdfURL = this.downloadPDF();
      PDFObject.embed(pdfURL, ".ReportViewer");
      
      // this.unloadMe();
      // const pdfData = this.downloadPDF(url);
      this.reportModalShown = true;
      this.sourceUrl = url;
    },
    unloadMe() {
      // if (!this.reportModalShown) return;
      // console.info("Destroyed previous instance");
      // this.reportModalShown = false;
      // this.sourceUrl = "";
      // PSPDFKit.unload(".ReportViewer");
    },
    password(updatePassword, reason) {
			updatePassword(prompt('password is "test"'));
		},
		error(err) {
			console.log(err);
		}
  },
  mounted() {
    eventBus.$on("VIEW_REPORT", this.viewReport);
    eventBus.$on("HIDE_REPORT_VIEWER", this.unloadMe);
  }
}
</script>

<style lang="scss" scoped>
.ReportViewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);
  background-color: rgba(255, 255, 255, 0.959);
  background-color: white;
  box-shadow: 0 3px 2rem rgb(77, 77, 77);
  z-index: 10000;
  // border-radius: 3px;
}
</style>





