<template>
  <div v-show="fileNames.length" :class="sidebarHidden ? '' : 'Sidebar2--expanded'" class="Sidebar2">
    <div class="Sidebar2__toggleButton" @click="onSidebarToggleClicked">
      <font-awesome-icon :icon="sidebarHidden ? 'images' : 'times'" size="xs" />
    </div>
    <div class="Sidebar2__tabTitles">
      <div class="Sidebar2__tabTitle Sidebar2__tabTitle1">
        Raw images
      </div>
    </div>
    <div class="Sidebar2__images">
      <div class="Sidebar2__imageHolder" v-for="filename in fileNames" :key="filename" :class="imageViewerShown && (filename === currentImage) ? 'Sidebar2__imageHolder--active' : ''">
        <img @click="onImageClicked(true, filename)" class="Sidebar2__imageRaw" :title="filename" :src="'https://atuavckjn.cloudimg.io/width/400/n/' + filename" alt="Please enable images" />
      </div>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../eventBus";

export default {
  data() {
    return {
      imageViewerShown: false,
      currentImage: "",
      sidebarHidden: false,
      fileNames: [
        "http://localhost:5000/155.JPG",
        "http://localhost:5000/156.JPG",
        "http://localhost:5000/157.JPG",
        "http://localhost:5000/158.JPG",
        "http://localhost:5000/159.JPG",
        // "https://picsum.photos/3840/2160/?image=0",
        // "https://picsum.photos/3840/2160/?image=1",
        // "https://picsum.photos/3840/2160/?image=2",
        // "https://picsum.photos/3840/2160/?image=3",
        // "https://picsum.photos/3840/2160/?image=4",
        // "https://picsum.photos/1920/1080/?image=0",
        // "https://picsum.photos/1920/1080/?image=1",
        // "https://picsum.photos/1920/1080/?image=2",
        // "https://picsum.photos/1920/1080/?image=3",
        // "https://picsum.photos/1920/1080/?image=4",
      ]
    };
  },
  methods: {
    onSidebarToggleClicked() {
      this.sidebarHidden = !this.sidebarHidden;
    },
    onImageClicked(bool, urlOfTheImage) {
      this.currentImage = urlOfTheImage;
      eventBus.$emit("SHOWHIDEIMAGEVIEWER", [bool, urlOfTheImage]);
    },
    onShowPreviousImage() {
      const index = this.fileNames.indexOf(this.currentImage);
      if (index > 0) {
        this.onImageClicked(true, this.fileNames[index - 1]);
      } else if (index === 0) {
        this.onImageClicked(true, this.fileNames[this.fileNames.length - 1]);
      }
    },
    onShowNextImage() {
      const index = this.fileNames.indexOf(this.currentImage);
      if (index >= 0 && index  < this.fileNames.length - 1) {
        this.onImageClicked(true, this.fileNames[index + 1]);
      } else if (index === this.fileNames.length - 1) {
        this.onImageClicked(true, this.fileNames[0]);
      }
    },
    onImageViewerShownOrHidden(payload) {
      const [bool, imageUrl] = payload;
      this.imageViewerShown = bool;
    }
  },
  mounted() {
    eventBus.$on("PREVIOUS_IMAGE", this.onShowPreviousImage);
    eventBus.$on("NEXT_IMAGE", this.onShowNextImage);
    eventBus.$on("SHOWHIDEIMAGEVIEWER", this.onImageViewerShownOrHidden);
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.Sidebar2 {
  position: absolute;
  top: 6rem;
  right: 0.8rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.3s ease;
  border: 2px solid $mbish-border-color;
  border-radius: $mbish-border-radius;
  background-color: $mbish-background-color;
  background-clip: padding-box;

  & > *:not(.Sidebar2__toggleButton) {
    opacity: 0;
  }

  &--expanded {
    width: 20rem;
    height: calc(100% - 20rem);
    background-color: $color-white-1;
    & > *:not(.Sidebar2__toggleButton) {
      opacity: 1;
    }
  }

  &__toggleButton {
    font-size: 1.6rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    user-select: none;
    transition: top 0.3s ease, right 0.3s ease;
    border: 0;
    border-radius: 50%;
    background-color: $mbish-background-color;
    background-clip: padding-box;
    z-index: 3;
  }

  &--expanded &__toggleButton {
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.3s all;
    color: $color-accent;
    z-index: 3;
    // border: 2px solid $mbish-border-color;
    border: 0;
    border-radius: 50%;
    background-color: $color-white-1;
    box-shadow: 0 0 15px $color-accent;
    &:hover {
      color: $color-white-1;
      background-color: $color-accent;
      box-shadow: 0 0 15px $color-accent;
    }
  }

  &__tabTitles {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 4.5rem;
    user-select: none;
    background-color: $color-white-1;
    box-shadow: 0 1px 10px rgba($color-black, 0.5);
  }

  &__tabTitle {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    color: $color-black;
  }

  &__images {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 4.5rem);
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
  }

  &__imageHolder {
    cursor: pointer;
    margin: 1rem;
    margin-bottom: 0;
    &:last-child {
      margin-bottom: 1rem;
    }

    &--active {
      outline: 3px solid rgb(211, 73, 73);
      outline-offset: 3px;
    }
  }

  &__imageRaw {
    width: 100%;
    box-shadow: 0 5px 1rem grey;
  }
}
</style>
