<template>
  <div class="TopBar">
    <div class="TopBar__left">
      <div class="TopBar__logoBox">
        <img class="TopBar__logo" src="../assets/sensehawk-icon-black.png" alt="">
      </div>
    </div>
    <div class="TopBar__right">
      <div class="TopBar__avatar">
        <font-awesome-icon icon="user-tie" size="xs" />
      </div>
      <div class="TopBar__userName">
        Swarup Mavanoor
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "topbar",
  data() {
    return {
      isSettingsMenuVisible: false
    };
  },
  methods: {
    onMenuButtonClicked() {
      this.isSettingsMenuVisible = !this.isSettingsMenuVisible;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";

.TopBar {
  height: 5.5rem;
  width: 100%;
  background-color: $color-white-3;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  box-shadow: 0 2px 20px darken($color-gray-3, 5);

  &__left {
    height: 100%;
  }

  &__logoBox {
    width: 5.5rem;
    height: 100%;
    background-color: $color-white-1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    margin-left: 1rem;
  }

  &__logo {
    width: 70%;
  }

  &__right {
    height: 100%;
    color: $mbish-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    margin-right: 1rem;
    padding: 0 2rem;
    color: rgb(53, 53, 53);
    background-color: rgb(241, 240, 240);
    box-shadow: 0 1px 1rem rgb(124, 124, 124);
    cursor: pointer;
  }

  &__avatar {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      font-size: 1.9rem;
    }
  }

  &__userName {
    font-size: 1.3rem;
  }

  &__userButton {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  &__menuButton {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease, 0.1s color ease;
    border: 0;
    background-color: $color-white-1;
    color: $color-black;
    outline: none;

    &:hover {
      color: $color-accent;
    }

    &--active {
      color: $color-accent;
    }

    &Icon {
      transition: 0.5s all ease-out;
    }

    &--active &Icon {
      transform: rotate(180deg);
    }
  }

  &__menu {
    opacity: 0;
    position: absolute;
    top: 5.2rem;
    right: 1rem;
    transition: all 0.5s ease-in-out;
    max-height: 0;

    &--visible {
      opacity: 1;
      max-height: 100%;
    }
  }
}
</style>
