// ==== WHITE THEME ====
$color-accent: hsl(0, 55%, 47%);
$color-background: hsl(0, 0%, 13%);
$color-foreground: hsl(0, 0%, 93%);

$color-black: hsl(0, 0%, 15%);

// lightest to darkest
$color-gray-1: hsl(0, 0%, 65%);
$color-gray-2: hsl(0, 0%, 55%);
$color-gray-3: hsl(0, 0%, 45%);
$color-gray-4: hsl(0, 0%, 35%);
$color-gray-5: hsl(0, 0%, 25%);

// lightest to darkest
$color-white-0: hsl(0, 0%, 100%);
$color-white-1: hsl(0, 0%, 98%);
$color-white-2: hsl(0, 0%, 93%);
$color-white-3: hsl(0, 0%, 85%);
$color-white-4: hsl(0, 0%, 80%);
$color-white-5: hsl(0, 0%, 75%);

// mapbox-ish styles
$mbish-background-color: hsl(0, 0%, 98%);
$mbish-foreground-color: hsl(0, 0%, 8%);
$mbish-border-radius: 7px;
$mbish-border-color: hsla(0, 0%, 50%, 0.4);



// ==== BLACK THEME ====
// $color-accent: hsl(0, 62%, 52%);

// $color-black: hsl(0, 0%, 90%);

// // darkest to lightest
// $color-gray-5: hsl(0, 0%, 5%);
// $color-gray-4: hsl(0, 0%, 10%);
// $color-gray-3: hsl(0, 0%, 15%);
// $color-gray-2: hsl(0, 0%, 20%);
// $color-gray-1: hsl(0, 0%, 25%);

// // darkest to lightest
// $color-white-5: hsl(0, 0%, 10%);
// $color-white-4: hsl(0, 0%, 15%);
// $color-white-3: hsl(0, 0%, 20%);
// $color-white-2: hsl(0, 0%, 25%);
// $color-white-1: hsl(0, 0%, 30%);
// $color-white-0: hsl(0, 0%, 35%);

// // mapbox-ish styles
// $mbish-background-color: hsl(0, 0%, 98%);
// $mbish-foreground-color: hsl(0, 0%, 8%);
// $mbish-border-radius: 7px;
// $mbish-border-color: hsla(0, 0%, 50%, 0.4);