<template>
  <div id="app" @keyup="onKeyUp">
    <map-view />
    <main-sidebar />
    <report-viewer />
    <blocker-modal :active="isBlockerModalActive"/> 
    <image-viewer :image-data="imageData" :html-data="htmlData" :active="isImageViewerActive" @closing="showHideImageViewer([false, ''])" />
  </div>
</template>

<script>
import TopBar from "./components/TopBar.vue";
import ImageViewer from "./components/ImageViewer.vue";
import MapView from "./components/MapView.vue";
// import TopBar from "./components/TopBar.vue";
import BlockerModal from "./components/BlockerModal.vue";
import MainSidebar from "./components/MainSidebar.vue";
import ReportViewer from "./components/ReportViewer4.vue";
import mapboxgl from "mapbox-gl";
import { eventBus } from "./eventBus";

export default {
  name: "app",
  data() {
    return {
      isBlockerModalActive: true,
      isImageViewerActive: false,
      imageData: null,
      htmlData: null,
    };
  },
  components: {
    MapView,
    ImageViewer,
    BlockerModal,
    ReportViewer,
    MainSidebar,
    TopBar
  },
  mounted() {
    if (!mapboxgl.supported()) {
      alert("MapboxGL is not supported by your browser!");
      return;
    }
    eventBus.$on("SHOWHIDEBLOCKERMODAL", this.showHideBlockerModal);
    eventBus.$on("SHOW_IMAGE_VIEWER", (payload) => this.showHideImageViewer(true, payload));
    eventBus.$on("HIDE_IMAGE_VIEWER", () => this.showHideImageViewer(false));

    if(this.$route.query.id) {
      this.$store.commit("SET_PROJECT_ID", this.$route.query.id);
    } else {
      console.error("No project id found in URL!");
    }
  },
  methods: {
    onKeyUp(e) {
      const draw = this.$store.getters.draw;
      if (draw) {
        if (e.key === "Escape") {
          eventBus.$emit("HIDE_REPORT_VIEWER");
          eventBus.$emit("HIDE_IMAGE_VIEWER", [false, ""]);
          this.$store.state.isContinuousModeActive = false;
          if (!this.$store.state.isContinuousModeActive) {
            draw.changeMode("simple_select");
            console.log("Continuous Mode: false");
          }
        }
      }
    }, 
    showHideBlockerModal(bool) { 
      this.isBlockerModalActive = bool; 
    }, 
    showHideImageViewer(bool, payload) {
      this.isImageViewerActive = bool;
      if (bool) {
        this.imageData = payload.imageData;
        this.htmlData = payload.htmlData;
      } else {
        this.imageData = [];
        this.htmlData = "";
      }
    }
  }
};
</script>

<style lang="scss">
@import "assets/normalize";
@import "assets/variables.scss";
@import "assets/fontawesome-free-5.3.1-web/css/all.css";


/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./assets/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('./assets/fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('./assets/fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.leaflet-popup-content,
.mapboxgl-popup-content {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: auto !important;
}

.leaflet-popup-content {
  margin: 0;
  min-width: 47rem !important;
}

.leaflet-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0;
  border-radius: 3px;
}

.leaflet-popup-content-wrapper {
  border-radius: 3px;
  padding: 0;
}

.mapboxgl-popup-close-button {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jsPopup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 700;
  color: rgb(59, 59, 59);

  &__Key {
    font-size: 1.1rem;
    display: block;
    font-weight: 700;
    color: rgb(136, 136, 136);
    text-transform: uppercase;
  }

  &__Head {
    padding: 1.3rem;
    background-color: rgb(49, 49, 49);
    color: white;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__HeadLeft {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__LinkIcon {
    background-color: rgb(1, 170, 1);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
  }

  &__Temperature {
    padding: .5rem 1rem;
    background-color: dodgerblue;
    color: white;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__TemperatureIcon {
    margin-right: 1rem;
  }

  &__IssueID {
    font-weight: 700;
  }

  &__IssueType {
    padding: .2rem .7rem;
    border-radius: 2px;
    background-color: rgb(167, 39, 39);
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__IssueStatusValue {
    text-transform: uppercase;
  }

  &__IssueStatus--done > &__IssueStatusValue {
    color: rgb(1, 170, 1);
  }

  &__IssueStatus--notdone > &__IssueStatusValue {
    
  }

  &__Coordinates > a {
    color: dodgerblue;
    text-decoration: none;
  }

  &__Body {
    width: 100%;
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: space-between;
  }

  &__BodyLeft {
    height: 100%;

    & > * {
      margin-bottom: 1.5rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__BodyRight {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: space-between;
    min-width: 9rem;
  }
}

</style>
